*{
    margin: 0;
    padding: 0;
}


.flex-div {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 200px;
}
 p {
     border: 2px solid black;
 }